<% bookmarks.each do |bookmark| %>
  <div class="list">
    <%= text_url_to_link(h(bookmark.title)).html_safe %>
  </div>
  <ul class="inline-meta">
    <li>
      <%= link_to edit_bookmark_path(bookmark) do %>
        <ion-icon name="menu-outline"></ion-icon>
      <% end %>
    </li>
  </ul>
<% end %>