<% bookmarks.each do |bookmark| %>
  <div class="bookmark">
  <%= render_with_bookmark_tags(bookmark.title) %>
  <ul class="inline-meta">
    <li>
      <%= link_to edit_bookmark_path(bookmark) do %>
        <ion-icon name="menu-outline"></ion-icon>
      <% end %>
    </li>
    <li>
      <%= link_to "削除", bookmark_path(bookmark), method: :delete %>
    </li>
  </ul>
  </div>
<% end %>