<% likes.each do |like| %>
  <div class="masonry-block">
    <div class="block block-image v1">
      <div class="block-image">
        <div class="view view-first">
          <%= link_to post_path(like.post.id) do %>
            <%= attachment_image_tag like.post, :image %>
          <% end %>
        </div>
      </div>
      <div class="block-content">
        <p></p>
        <ul class="inline-meta">
          <li>
            <%= link_to edit_like_path(like) do %>
              <ion-icon name="menu-outline"></ion-icon>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
