<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-user style-1 rounded has-shadow-1">
          <div class="login-signup-title">カテゴリー編集</div>
          <div class="form-body">
            <%= form_with model:@like, url: like_path, local: true do |f| %>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"例）#ケーキ" %>
                </div>
              </div>
              <hr>
              <%= f.submit "送信", class:"btn btn-info btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>