<div class="profile-container">
  <%= render 'users/profile', user: @user %>
</div>
<div class="profile-menu">
  <%= link_to "投稿", user_path(@user) %>　<%= link_to "お気に入り一覧", likes_path %>
</div>
<%= render 'likes/like', likes: @likes %>