<div class="top">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="top-content">
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-10">
                <div class="top-container">
                  <div class="theTarget">
                    <div style="background-image: image-url('new2.png')"></div>
                    <div style="background-image: image-url('index5.png')"></div>
                    <div style="background-image: image-url('like.jpg')"></div>
                    <div style="background-image: image-url('mypage1.png')"></div>
                    <div style="background-image: imaage-url('tag1.png')"></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="top-content">
            <!--what's start -->
            <div class="top-logo">What's match ?</div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-10">
                <div class="top-text1">
                  <br>
                  <p>日常や、旅行など日々のなかで興味関心を持った</p>
                  <p>写真や画像をシェアすることができます。</p>
                  <p>また、自分の投稿やお気に入りに追加した他のユーザーの投稿を細かく分類することで、</p>
                  <p>欲しい情報を欲しいタイミングですぐにすぐに確認することができます。</p>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <!--what's end -->
            <!-- how to use start -->
            <br>
            <div class="top-logo">How to Use ?</div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-10">
                <div class="top-text2">
                  <br>
                  <ur>
                    <li>まずは、画像を投稿してみましょう！</li>
                    <li>好きな投稿をお気に入り登録できます。</li>
                    <li>お気に入りした投稿を分類してみましょう。</li>
                    <li>アカウントをフォローすることができます。</li>
                  </ur>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <!-- how to use end -->
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
</div>