<div class="top">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="top-logo">What's match ?</div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-10">
                <div class="top-text">
                  <p>日常や、旅行など日々のなかで興味関心を持った</p>
                  <p>写真や画像をシェアすることができます。</p>
                  <p>また、自分の投稿やお気に入りに追加した他のユーザーの投稿を細かく分類することで、</p>
                  <p>欲しい情報を欲しいタイミングですぐに検索に書けることができます。</p>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
          <div class="top-logo">How to Use ?</div>
        </div>
        <div class="col-md-2"></div>
      </div>
</div>