<section class="slice slice-lg sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-user style-1 rounded has-shadow-1">
          <div class="login-signup-title">ログイン</div>
          <div class="form-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputEmail">Email</label>
                <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
                <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
              </div>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputPassword">Password</label>
                <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
              </div>
              <%= f.submit "サインイン", class:"btn btn-info btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>
