<div class="clearfix">
  <% @posts.each do |post| %>
    <div class="list">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image, :fill, 250, 250 %>
      <% end %>
    </div>
  <% end %>
</div>