<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="masonry-wrapper-cols">
          <%= render 'posts/list', posts: @posts %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>